@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

body{
  background-color: #ECFFFB;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.note-desc{
  resize:none;
}
.note-container{
  width:clamp(280px,20%,300px);
  position: fixed;
  
}
.note-create-btn,
.note-save-btn,
.signUp-btn{
  background:linear-gradient(  120deg, #46b6c5 10% ,#1E6262);
  
}
.note-create-btn{
  box-shadow:    0 5px 10px rgba(0, 0, 0, 0.396);
  cursor: pointer;
}
.note-save-btn:active{
  transform: translateY(3px);
}

.notes-hide{
  filter: blur(100px);
  transition: .5s;
}
.notes-visible{
  filter: blur(0);
}
ion-icon {
  font-size: 20px;
  color: rgb(202, 202, 202);
}

.description,.title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description{
  -webkit-line-clamp: 9;
}
.title{
  -webkit-line-clamp: 2;

}

.star{
  fill: aliceblue;
}
.colorIcon{
  position: relative;
}
.colorIcon .colorContainer{
  display: none;
  width: 150px;
  position: absolute;
  background-color:#363636;
  top: -105px;
  left: -50px;
  padding-left: 18px;
  border-radius: 10px;
}

.colorIcon:hover .colorContainer{
  display: block;
}

.colorBoxes{
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 3px;
  border: 2px ridge rgba(255, 255, 255, 0.964);
  cursor: pointer;
}

.tick{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tick::after{
  content: '✔';
  color: white;
  
}
@media screen and (min-width:621px) {
  .note-create-btn{
    top:25%;
    left:30px;
  }
  .note-create-btn:active{
    transform: translateY(3px);
  }
  .note-create-btn::after{
    /* position: ; */
    right: -10px;
    content: ' Take a note';
    color: whitesmoke;
    font-family: sans-serif;
  }
  .createNoteContainer{
    min-width: 320px;
  }
  .expandedNoteContainer{
    min-width: 200px;
  }
}

.socialMediaBtn{
  /* width: 50px; */
  /* aspect-ratio: 1; */
  border-radius: 50%;
  transform: scale(.5);
  font-size: 30px;
}
.creditName{
  position: relative;
  font-family: 'Dancing Script', cursive,sans-serif;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 2px;
  color: #00b688;
  text-shadow: 0 2px 3px #c9d4d498 ;
}
.creditName::after,
.creditName::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100% ;
  height: 10px;
  border-top: 3px solid #00b688;
  border-radius: 43% 57% 59% 41% / 77% 50% 50% 23%   ;
}
.creditName::before{
  bottom: -16px;
  left: 5px;
  
}
@media screen and (max-width: 620px) {
  .note-container{
    width: 90%;
    top: 70px;
  }
  .note-create-btn{
    bottom:30px;
    right:30px;
    box-shadow: 0 0 0 5px white,
   0 0 0 7px #46b6c5,
   0 0 15px black;
  }
}

/* ------- custom scrollbar --------*/
html{
  --thumbBG: #345B63;
  --scrollbarBG:#152D35;
}
body::-webkit-scrollbar {
  width: 15px;
  overflow-x: hidden;
  appearance: none;
}
body {
  scrollbar-width:thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
::-webkit-scrollbar{
  width: 0;
}

/* .footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  backdrop-filter: blur(50px);
 } */